.customBoard {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr;
  gap: 2em;
  height: 100%;
  background-color: #282c34;
}

.chessBoard {
  grid-column: 2 / span 1;
}

.moveHistory {
  grid-column: 3 / span 1;
  outline-style: solid;
}