.customBoard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* height: 100%; */
  flex-shrink: 1;
  flex-wrap: wrap;
  background-color: #282c34;
}
