.customBoard {
  display: grid;
  grid-template-columns: 4fr 4fr 3fr 1fr;
  /* gap: 3em; */
  height: 100%;
}

@media (max-width: 480px) {
  .customBoard {
    grid-template-columns: 1fr;
  }
}

.chessBoard {
  grid-column: 2 / span 1;
}

.moveHistory {
  grid-column: 3 / span 1;
  outline-style: solid;
}